<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Payment Data</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <div id="address"></div>
    <input type="text" id="recipient">
    <br>
    <a href="/">Add new address</a>
    <br>
    <button id="next">Next</button>
    <form id="payment-form" style="display: none;">
        <input type="hidden" id="stripeApiKey" th:value="${stripeApiKey}">
        <div id="payment-element">
            <!-- Elements will create form elements here -->
        </div>
        <button id="submit">Next</button>
        <div th:if="${param.keySet().contains('error')}">
            <span>An error happened, try again</span>
        </div>

    </form>
</body>
<script>
    let jwtToken = sessionStorage.getItem("jwtToken")

    let headers = new Headers
    headers.append("Authorization", `Bearer ${jwtToken}`)
    fetch(`${window.location.origin}/api/v1/payment`, { method: "POST", headers: headers }).then((response) => {
        return response.text();
    }).then(async (data) => {
        let res = await fetch(`${window.location.origin}/api/v1/payment/secret/${data}`)
        let clientSecret = await res.text()

        let stripeKey = document.getElementById("stripeApiKey").value
        const stripe = Stripe(stripeKey);
        const options = {
            clientSecret: clientSecret,
        };

        const addressDiv = document.getElementById("address")
        let response = await fetch(`${window.location.origin}/api/v1/user-address`, { headers: headers })
        let addressess = await response.json()
        addressess.forEach(address => {
            const inpRadio = document.createElement("input")
            inpRadio.className = "addressInpRadio"
            inpRadio.type = "radio"
            addressDiv.appendChild(inpRadio)

            const span = document.createElement("span")
            span.textContent = `${address.addressLine1} ${address.addressLine2} (${address.city}/${address.country})`
            addressDiv.appendChild(span)

            const lineBreak = document.createElement("br")
            addressDiv.appendChild(lineBreak)
        })

        const nextBtn = document.getElementById("next")
        let address = {}
        nextBtn.addEventListener('click', (event) => {
            addressDiv.style.display = "none"
            form.style.display = "initial"

            let radios = Array.from(document.getElementsByClassName("addressInpRadio"))
            for(let i = 0; i < radios.length; i++){
                if(radios[i].value === "on"){
                    address.id = addressess[i].id
                    address.line1 = addressess[i].addressLine1 
                    address.line2 = addressess[i].addressLine2
                    address.city = addressess[i].city 
                    address.country = addressess[i].country
                    address.postalCode = addressess[i].postalCode
                }
            }
        })
        const elements = stripe.elements(options);

        const paymentElement = elements.create('payment');
        paymentElement.mount('#payment-element');

        const form = document.getElementById('payment-form');
        const recipient = document.getElementById("recipient")

        form.addEventListener('submit', async (event) => {
        event.preventDefault();

        let res = await fetch(`${window.location.origin}/api/v1/cart/items`, { method: "GET", headers: headers })
        let cart = await res.json()
        let result = await stripe.retrievePaymentIntent(clientSecret)
        let paymentIntent = await result.paymentIntent

        if(cart.total !== paymentIntent.amount / 100){
            document.location.href = `${document.location.href}?error`
        }

            const { error } = await stripe.confirmPayment({
                elements,
                confirmParams: {
                    return_url: `${window.location.origin}/payment/success`,
                    shipping: {
                        name: recipient.value,
                        address: {
                            line1: address.line1,
                            line2: address.line2,
                            city: address.city,
                            country: address.country,
                            postal_code: address.postalCode
                        }
                    }
                },
                redirect: "if_required"
            });

            if (error) {
                const messageContainer = document.querySelector('#error-message');
                messageContainer.textContent = error.message;
            } else {
                document.body.innerHTML = ""
                let orderItems = []
                cart.cartItems.forEach( item => {
                    orderItems.push({productId: item.product.id, quantity: item.quantity})
                })
                headers.append("Content-Type", "application/json; charset=UTF-8")
                await fetch(`${window.location.origin}/api/v1/order`, { method: "POST", headers: headers, body: JSON.stringify({
                    orderItems: orderItems,
                    addressId: address.id,
                    stripeId: paymentIntent.id,
                })})
                headers.delete("ContentType")
                await fetch(`${window.location.origin}/api/v1/cart`, { method: "DELETE", headers: headers })
            }
        });
    })
</script>

</html>